@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    var MainVolunteer = ViewBag.MainUser;
}
@model Organization

<div class="row">
    <div class="col-md-12">
        <h2>Склад волонтерської організації</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>Голова волонтерської організації: @MainVolunteer.FirstName @MainVolunteer.SecondName</h5>
            @{
                <button id="removeVolunteer" data-myvalue="@Model.Id" data-bs-toggle="modal" data-bs-target="#RemoveModal" type="button" name="removeVolunteer" class="btn btn-sm btn-danger" value="@Model.Id">Видалити волонтерів</button>
                <button id="addVolunteer" data-myvalue="@Model.Id" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" name="addVolunteer" class="btn btn-sm btn-danger" value="@Model.Id">Додати волонтерів</button>
                <p>Склад волонтерів</p>
                foreach (var vu in Model.VolunteerUsers)
                {
                    if (vu.Id == MainVolunteer.Id)
                    {
                        continue;
                    }
                    else
                    {
                        <input hidden type="" name="addlistUserId" id="addlistUserId" value="@vu.Id" @(Model.VolunteerUsers.Contains(vu) ? "checked=\" checked\"" : "" ) />
                        @vu.FirstName @vu.SecondName <br />
                    }

                }
            }
        </div>
    </div>
</div>
@Html.Partial("_ModalAddUser")
@Html.Partial("_ModalRemoveUser")
