@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
@model List<MilitaryUnit>
    <div class="row">
        <div class="col-md-12">
            <a href="/MilitaryUnit/CreateMilitaryUnit" class="form control btn btn-success">Створити військовий підрозділ</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            @if (Model.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <td>Назва підрозділу</td>
                            <td>Опис</td>
                            <td>Редагувати</td>
                            <td>Видалити</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                <td><a class="btn btn-sm btn-warning" asp-controller="MilitaryUnit" asp-action="EditMilitaryUnit" asp-route-id="@item.Id">Редагувати</a></td>
                                <td><button id="delete" data-myvalue="@item.Id" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" name="id" class="btn btn-sm btn-danger" value=@item.Id>Видалити</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h2>Військових підрозділів не знайдено</h2>
            }
        </div>
    </div>
    @Html.Partial("_ModalConfirmDelete")